<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cerc_materialdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.material_design.Activity.RegisterActivity"
            android:parentActivityName="com.example.material_design.Activity.LoginActivity"/>
        <activity android:name="com.example.material_design.Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.material_design.Activity.InformasiActivity" />
        <activity android:name="com.example.material_design.Activity.ProfileActivity" />
        <activity android:name="com.example.material_design.Activity.LoginActivity" />
        <activity android:name="com.example.material_design.Activity.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>